<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">

    <title>Evaluator</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Evaluator</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Result</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="subjects container row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="mt-3 mb-3 m-auto card" style="width: 80%;">
                <div class="card-body">
                    <h5 class="card-title">Chemistry</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Total Students : 43</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Not Evaluated : 21</h6>
                    <a href="/template/studentSelection.html" class="nav-link text-uppercase">Evaluate</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="mt-3 mb-3 m-auto card" style="width: 80%;">
                <div class="card-body">
                    <h5 class="card-title">Chemistry</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Total Students : 43</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Not Evaluated : 21</h6>
                    <a href="#" class="nav-link text-uppercase">Evaluate</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="mt-3 mb-3 m-auto card" style="width: 80%;">
                <div class="card-body">
                    <h5 class="card-title">Chemistry</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Total Students : 43</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Not Evaluated : 21</h6>
                    <a href="#" class="nav-link text-uppercase">Evaluate</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="mt-3 mb-3 m-auto card" style="width: 80%;">
                <div class="card-body">
                    <h5 class="card-title">Chemistry</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Total Students : 43</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Not Evaluated : 21</h6>
                    <a href="#" class="nav-link text-uppercase">Evaluate</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="mt-3 mb-3 m-auto card" style="width: 80%;">
                <div class="card-body">
                    <h5 class="card-title">Chemistry</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Total Students : 43</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Not Evaluated : 21</h6>
                    <a href="#" class="nav-link text-uppercase">Evaluate</a>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>

</body>

</html>